[APP]DEBUG = trueTRACE = trueURL_REWRITE = trueLOG_SQL_LEVEL = 1[DATABASE]DEFAULT[DB_DRIVER] = mysqlDEFAULT[DB_HOST] = localhostDEFAULT[DB_PORT] = 3306DEFAULT[DB_NAME] = myapp01dbDEFAULT[DB_CHARSET] = utf8mb4DEFAULT[DB_USER] = rootDEFAULT[DB_PASS] = 123456DEFAULT[TABLE_PREFIX] = ap_